// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
	height: 100%;
}

// ----------------MY CODE STARTS HERE----------------
@borderColor: #DCDCDC;
@companyNameFont: 'Big Shoulders Text', cursive;

.flex() {
	display: flex;
	justify-content: space-evenly;
}


html {
	font-size: 62.5%;
	font-family: 'Nunito Sans', sans-serif;
}

body {
	margin: 4%;
	font-size: 1.6rem;
}

h1 {
	font-size: 5.5rem;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-size: 2rem;
	font-weight: bold;
	line-height: 1.2;
}

h4 {
	font-size: 2rem;
	line-height: 1.2;
}

p {
	line-height: 1.5;
}

li {
	color: white;//Not Working
}

header {
	margin-bottom: 2%;

	nav {
		.flex();
		font-size: 2rem;
		
		a {
			text-decoration: none;
		}
	}
}

.intro {
	margin-bottom: 2%;
	display: flex;

	@media(max-width: 500px) {
		flex-direction: column;
	}
	
	.imageContainer {
		width: 45%;
		// border: 2px solid grey;
		// overflow: hidden;

		@media(max-width: 500px) {
			width: 100%;
		}
	
		.profile-img {
			width: 100%;
			height: 100%; //Could do 'auto'
		}
	}

	.contactInfoContainer {
		width: 60%;
		// border: 2px solid grey;
		// margin: 3%;
		
		@media(max-width: 500px) {
			width: 100%;
		}

		.nameInfo {
			border-bottom: 2px solid @borderColor;
			padding: 4% 4%;
			line-height: 1.2;

			@media(max-width: 500px) {
				text-align: center;
			}
		}

		.contactInfo {
			display: flex;
			line-height: 10;
			font-size: 3rem;
			font-weight: bold;
			width: 100%;
			padding: 4% 4%;

			@media(max-width: 500px) {
				font-size: 2rem;
				justify-content: center;
			}

			.column1 {
				// border: 2px solid red;
			}

			.column2 {
				// border: 2px solid red;
				font-weight: normal;
				padding-left: 5%;
			}
		}

		.socialIconsContainer {
			background-color: black;
			padding: 3% 0%;

			ul {
				.flex();
				align-items: baseline;
				font-size: 6rem;
			}
		}
	}
}

.middle {
	margin-bottom: 2%;
	display: flex;

	.about {
		width: 65%;
		padding-right: 2%;
	}

	.skills {

	}
}

.bottom {
	margin-bottom: 2%;
	padding: 2% 0%;
	border-top: 2px solid @borderColor;
	border-bottom: 2px solid @borderColor;
	
	.job {
		// NO STYLE CHANGES
	}

		p {
			font-family: @companyNameFont;
		}
}

footer {
	// background-color: dodgerblue;
	
	// .socialIcons {
	// 	flex();
	// 	font-size: 4rem;
	// }

	.copyrightText {
		text-align: center;
		padding: 2% 0%;
	}
}